@import 'tailwindcss';

@plugin "daisyui";


@theme {
  --color-coffee: #6f4e37;
  --color-primary-blue: #1c0cdc;
  --color-soft-gray: #f8fafc;
  --color-base-content: #000000;


}
/* :root {
  --primary-color: #1c0cdc;
  --primary-dark-color: #1f00d4;
  --secondary-color: #ffffff;


} */
/*
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f4f6;
  color: var(--text-color);
} */

.neomorph-card {
  background-color: var(--secondary-color);
  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px -10px 20px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}
.neomorph-input {
  background-color: var(--secondary-color);
  box-shadow:
    inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.neomorph-input:focus {
  outline: none;
  box-shadow:
    inset 3px 3px 6px rgba(0, 0, 0, 0.1),
    inset -3px -3px 6px rgba(255, 255, 255, 0.5);
}
.neomorph-btn {
  background-color: var(--coffee-color);
  color: var(--secondary-color);
  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}
.neomorph-btn:hover {
  box-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.5);
  transform: scale(0.98);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeIn 1s ease-out;
} */
